.create {
  background: url(../../assets/createBackground.jpg) no-repeat center center fixed;
  border-radius: 40px;
  background-position: 25% 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.createChikn {
  display: block;
  margin: 0.8rem auto;
  width: 96%;
  height: 380px;
  max-width: 350px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  border: 1px solid var(--border);
}

.createRooster {
  display: block;
  margin: 0.8rem auto;
  width: 96%;
  height: 380px;
  max-width: 350px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  border: 1px solid var(--border);
}

/*************
Form
**************/

.form-create {
  margin-top: 14px;
  display: block;
}

.createRooster input,
.createChikn input {
  color: var(--text);
  margin: 4px;
  width: 80%;
  font-size: 1rem;
  border-radius: 3px;
  padding: 2px;
  background-color: var(--card);
  border: 1px solid var(--text);
}

.createChikn img,
.createRooster img {
  margin: 10px;
}

.topContainer {
  font-size: 1.2rem;
  color: var(--text);
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid;
  border-color: var(--border);
}

/*************
Recent added Coqs
**************/

.showCreate {
  display: block;
  margin: 0 auto;
  width: 96%;
  max-width: 360px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 100px;
  border: 1px solid var(--border);
}

.entryChikn {
  margin: 0 auto;
  color: var(--text);
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--border);
  border-radius: 4px;
  width: 96%;
}

.entryChiknImg img {
  border-radius: 6px;
}

.entryChiknData {
  padding: 5px;
}

.create .coop .createdEntry {
  width: 100%;
}

.button-coop {
  color: var(--text);
  margin: 0 auto;
  position: relative;
  bottom: 70px;
  margin-bottom: 20px;
}

.coop-btn {
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--card);
  margin-left: 10px;
}

.coop-btn:hover {
  background-color: var(--background);
}

/*************
Media Queries
**************/

@media only screen and (min-width: 999px) {
  .createChikn {
    grid-area: 3 / 2 / 4 / 2;
  }

  .createRooster {
    grid-area: 3 / 3 / 5 / 3;
  }

  .showCreate {
    overflow: scroll;
    position: absolute;
    grid-area: 4 / 4 / 3 / 4;
    display: block;
    max-width: 350px;
    height: 500px;
    background-color: var(--backgroundContainer);
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    margin: 0.8rem auto;
  }

  .button-coop {
    grid-area: 4 / 3 / 4 / 3;
    bottom: 0px;
    margin-top: 60px;
  }
}
