/*************
General Elements
**************/

.header-items {
  padding-top: 1rem;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--icons);
}

.tokens ol {
  background-color: var(--lightBackground);
  border-radius: 4px;
  display: flex;
}

.token-1 {
  align-items: center;
  display: flex;
  padding: 10px;
}

.token-1 img {
  margin-right: 5px;
  align-self: center;
  width: 16px;
}

.feed {
  display: none;
}

.fert {
  display: none;
}

/*************
Other pages
**************/

.create .price {
  color: var(--text);
}

.coop .price {
  color: var(--text);
}

.chikn .price {
  color: var(--icons);
}

.edgyeggs .price {
  color: var(--text);
}

.traits .price {
  color: var(--text);
}

.farmersmarket .price {
  color: var(--text);
}

.stadium .price {
  color: var(--text);
}
.worldCup .price {
  color: var(--text);
}
/*************
Media Queries
**************/

@media only screen and (min-width: 999px) {
  .price {
    margin-top: 5rem;
    grid-area: 1 / 1 / 2 / 6;
  }
  .tokens ol {
    position: relative;
    top: 20px;
  }

  .feed {
    display: flex;
  }

  .fert {
    display: flex;
  }
}
