/*************
General Elements
**************/

.header-items {
  padding-top: 1rem;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--icons);
}

.tokens ol {
  background-color: var(--lightBackground);
  border-radius: 10px;
  display: flex;
}

.token-1 {
  align-items: center;
  display: flex;
  padding: 10px;
}

.token-1 img {
  margin-left: 5px;
  align-self: center;
  width: 16px;
}

/* span {
  margin-left: 10px;
} */

/*************
Other pages
**************/

.create .price {
  color: var(--text);
}

.coop .price {
  color: var(--text);
}

/*************
Media Queries
**************/

@media only screen and (min-width: 999px) {
  .price {
    margin-top: 4rem;
    grid-area: 1 / 1 / 2 / 6;
  }
  .tokens ol {
    position: relative;
    top: 20px;
  }
}
