/*************
General Elements
**************/

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 1rem;
  width: 100%;
}

.links {
  margin-bottom: 10px;
  background-color: var(--lightBackground);
  border-radius: 10px;
}

.links i {
  padding: 15px;
  color: var(--icons);
}

/*************
Media Queries
**************/

@media only screen and (min-width: 999px) {
  footer {
    flex-direction: column;
    grid-area: 3 / 2 / 3 / 1;
  }

  .links i {
    padding: 20px;
    display: block;
  }

  .links {
    margin-left: 5px;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    bottom: 0rem;
    height: 100%;
  }
}
