/*************
General Elements
**************/

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 1.5rem;
  width: 100%;
}

.links {
  margin-bottom: 10px;
  background-color: var(--lightBackground);
  border-radius: 10px;
}

.links i {
  cursor: pointer;
  padding: 15px;
  color: var(--icons);
}

.links i:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*************
Other pages
**************/

.create .links i {
  color: var(--text);
}

.coop .links i {
  color: var(--text);
}

.edgyeggs .links i {
  color: var(--text);
}

.edgyeggs footer {
  flex-direction: column;
  grid-area: 4 / 2 / 3 / 1;
  top: 1.5rem;
  left: 0.6rem;
  bottom: 0;
  position: absolute;
  top: 176px;
}

/*************
Media Queries
**************/

@media only screen and (min-width: 999px) {
  footer {
    flex-direction: column;
    grid-area: 3 / 2 / 3 / 1;
    top: 1.5rem;
    left: 0.6rem;
    bottom: 0;
    position: absolute;
  }

  .links i {
    padding: 20px;
    display: block;
  }

  .links {
    margin-left: 5px;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    left: 0;
    bottom: 0rem;
    height: 100%;
  }

  .chikn footer {
    top: 4.5rem;
  }

  .create footer {
    top: 6.5rem;
  }

  .coop footer {
    bottom: 4.5rem;
  }
}
