.edgyeggs {
  background: url(../../assets/backgroundModal.jpg) no-repeat center center fixed;
  border-radius: 40px;
  background-position: 25% 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.edgyegg-search {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  display: block;
}

.edgyegg-search input {
  width: 70%;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 2px;
  background-color: var(--darkBackground);
  border: 1px solid #fff;
}

.searchEdgyegg {
  margin: 0.8rem auto;
  width: 96%;
  max-width: 350px;
  height: 220px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  text-align: center;
}

.edgyeggimageShow {
  margin: 0.8rem auto;
  width: 96%;
  max-width: 350px;
  height: 345px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  text-align: center;
}

.imageBottomContainer-Edgyegg {
  display: flex;
  justify-content: space-evenly;
}

.edgyegg-image-container {
  padding: 10px;
  width: 55%;
  text-align: center;
  color: var(--text);
  font-size: 1.1rem;
}

.edgyegg-image-container img {
  border: 1px solid var(--text);
}

.edgyegg-rank {
  margin: 0.8rem auto;
  width: 96%;
  max-width: 350px;
  height: 300px;
  background-color: var(--backgroundContainer);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 130px;
}

.bottomContainer-edgyegg {
  font-size: 1.2rem;
  color: var(--text);
  padding: 14px;
}

.click {
  font-weight: 700;
  font-size: 1.3rem;
}

.traitBreakdown {
  margin-bottom: 15px;
  border: 1px solid #fff;
}

@media only screen and (min-width: 999px) {
  .searchEdgyegg {
    grid-area: 1 / 1 / 5 / 4;
    margin: 0 auto;
    width: 96%;
    height: 200px;
    max-width: 350px;
    border-radius: 4px;
    align-items: center;
    align-self: center;
  }
  .edgyeggimageShow {
    grid-area: 2 / 4 / 6 / 4;
    width: 100%;
    max-width: 600px;
    height: 440px;
    max-height: 500px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .edgyegg-image-container {
    padding: 10px;
    width: 70%;
    text-align: center;
    color: var(--text);
    font-size: 1.1rem;
  }

  .edgyegg-rank {
    grid-area: 4 / 1 / 5 / 4;
    margin: 0 auto;
    width: 96%;
    height: 100%;
    max-width: 500px;
    border-radius: 4px;
    align-items: center;
    position: relative;
    top: 67px;
    align-self: center;
  }

  .edgyegg-hide {
    display: block;
  }
}

@media only screen and (min-width: 2500px) {
  .edgyeggimageShow {
    min-height: 550px;
  }

  .form-search {
    margin-top: 20px;
  }

  .edgyegg-image-container p {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1900px) {
  .edgyeggimageShow {
    min-height: 580px;
  }
}

@media only screen and (min-width: 1439px) {
  .searchEdgyegg {
    grid-area: 1 / 1 / 5 / 4;
    margin: 0 auto;
    width: 96%;
    height: 180px;
    margin-bottom: 2rem;
  }

  .form-search {
    margin-top: -6px;
  }
}
